<li class="list-group-item d-flex flex-row ">
    <div class="col-10 p-0">
        <div class="row">
            <h4 class="title mr-1"><%= pizza.title %> <%if(size == "small_size"){%>(мала)<%}else if(size == "big_size"){%>(велика)<%}%></h4>
        </div>
        <div class="row d-flex align-items-center">
            <span class="badge"><img src="assets/images/size-icon.svg" class="p-0 pr-1" alt=""><%= pizza[size].weight %></span>
            <span class="badge"><img src="assets/images/weight.svg" class="p-0 pr-1" alt=""><%= pizza[size].size %></span>
        </div>

<!--        <div class="row">-->
<!--            <div class="btn-group d-flex align-items-center bg-danger">-->
<!--                <button type="button" class="btn btn-danger btn-circle minus">-</button>-->
<!--                <span class="font-weight-bold mr-2 ml-2"><%= quantity%></span>-->
<!--                <button type="button" class="btn btn-danger btn-circle plus">+</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <h4 class="title mt-2 price"><%= pizza[size].price*quantity %>₴</h4>-->

        <div class="container p-0 active-part">
            <span class="title mt-0 price"><%= pizza[size].price*quantity %> грн</span>
            <div class="row mb-2">
                <div class="btn-group d-flex align-items-center bg-danger">
                    <button type="button" class="btn btn-danger btn-circle minus">-</button>
                    <span class="font-weight-bold mr-2 ml-2"><span class="d-none ml-1">К-сть:</span><%= quantity%></span>
                    <button type="button" class="btn btn-danger btn-circle plus">+</button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-2 p-0">
        <img class="bg-img" src="assets/images/pizza_1.jpg" alt="">
    </div>
    <button type="button" class="close close-pizza" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</li>