<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

%>

<div class="col-lg-4 col-md-6 col-sm-12 pb-3" id="<%= pizza.id%>">
    <div class="card pizza-card h-100">
        <img src="<%= pizza.icon%>" class="card-img-top" alt="">
        <div class="card-body d-flex flex-column">
            <h2><%= pizza.title%></h2>
            <h6 class="text-secondary"><%= pizza.type%></h6>
            <p class="card-text"><%= getIngredientsArray(pizza).join(", ") %></p>
            <div class="container p-0 d-flex flex-row justify-content-center mt-auto">
                <%if(pizza.small_size){%>
                    <div class="col-6 d-flex flex-column justify-content-center">
                        <span class="badge"><img src="assets/images/weight.svg" class="p-0 pr-1" alt=""><%= pizza.small_size.size%></span>
                        <span class="badge"><img src="assets/images/size-icon.svg" class="p-0 pr-1" alt=""><%= pizza.small_size.weight%></span>
                        <span class="price"><%= pizza.small_size.price%>₴</span>
                        <div class="container d-flex justify-content-center">
                            <button type="button " class="btn btn-warning buy-small">Купити</button>
                        </div>
                    </div>
                <%}%>
                    <%if(pizza.big_size){%>
                        <div class="col-6 d-flex flex-column justify-content-center">
                            <span class="badge"><img src="assets/images/weight.svg" class="p-0 pr-1" alt=""><%= pizza.big_size.size%></span>
                            <span class="badge"><img src="assets/images/size-icon.svg" class="p-0 pr-1" alt=""><%= pizza.big_size.weight%></span>
                            <span class="price"><%= pizza.big_size.price%>₴</span>
                            <div class="container d-flex justify-content-center">
                                <button type="button" class="btn btn-warning buy-big">Купити</button>
                            </div>
                        </div>
                    <%} %>
                <%if(pizza.is_new) {%>
                        <div class="badge badge-sort bg-danger">Нова</div>
                <%} else if(pizza.is_popular) {%>
                        <div class="badge badge-sort bg-success">Популярна</div>
                <%} %>
            </div>
        </div>
    </div>
</div>